*.o
*.bin
*.elf
*.map
*.exe
*.uvopt
*.uvproj
*.uvoptx
*.uvprojx
*.icf
*.ewd
*.ewp
*.eww
*.emProject
*.emSession
flash_placement.xml
.project
.cproject
*/.cproject
*/.project
*/.settings
*/.eclipse
*/*.prefs
*/*.o
*/*.bin
*/*.elf
*/*.map
**/examples/**/*.hex
flash.elf.txt
buildarm_eval
buildarm_funktionsmuster
buildtest
/include/vc.h

lock

src/display/images/*.c
src/display/images/display_images.h
.spyderworkspace
*.out
*.d
/_build
